.profile__img {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

@media screen and (width>=1279px) {
  .profile__img {
    margin: 0;
    margin-right: 30px;
  }
}
