.profile__subtitle {
  color: #fff;
  max-width: 213px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (width>=1279px) {
  .profile__subtitle {
    max-width: 302px;
    margin-left: 0;
    font-size: 18px;
    line-height: 22px;
  }
}